body{
 background-color: #ff99ff }
h1{ color: #ff66ff }
P{
 font-Size: 16 px; 
  color: ;
}

header { border-bottom:solid 3 px #575af8 ; 
  padding: 10 px;
   font-size 22 px;
    color: rgb(221, 17, 17);
   }